body {
  margin: 0;
  padding: 0;
  background-color: lightpink;
  font-family: 'New York Times', serif;
}

.navbar-nav .nav-link {
  color: black;
}

.titleforhome, .signature {
  color: black;
  text-align: center;
}

.title {
  color: black;
  font-size: 30px;
  text-align: center;
  margin: auto;
}

.essay {
  color: black; 
  font-size: 18px;
  text-align: center;
  margin: auto;
}

.bg3, .bg4, .bg5 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}